<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <!-- .............. header -->
     <header class="bg-[#0A1551] text-white flex justify-start h-[50px] items-center mx-4 rounded-md">
        <div>
         <nav>
             <ul class="flex justify-start">
                 <li class="px-4"><a href="{{url_for("main_page")}}">Back Home</a></li>
              
             </ul>
         </nav>
        </div>
         <!-- ... button profile -->
     
         <div>
            
     </div>
        </header>
    



    <h1>Welcome to orders</h1>
    
</body>
</html>