<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <script src="https://cdn.tailwindcss.com"></script>
 
    <style>
        .custom-scrollbar::-webkit-scrollbar {
            width: 8px; /* Set width of the scrollbar */
        }

        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: #4F46E5; /* Set color of the scrollbar thumb */
            border-radius: 4px; /* Set border radius of the thumb */
        }

        .custom-scrollbar::-webkit-scrollbar-track {
            background-color: #E5E7EB; /* Set color of the scrollbar track */
        }
    </style>
</head>
<body>
    <header class="flex items-center justify-between bg-rose-600 h-[60px] p-4">
        <h1 class="text-white text-[28px] font-mono">
            <a href="/">E-keyboard</a>
        </h1>
        <nav>
            <a href="/" class="text-white">Home</a>
        </nav>
    </header>
    
    <!-- billing address way Modal -->
    <div class="flex flex-col md:flex md:flex-row md:justify-center md:items-center md:h-[90vh]">
        <div class="flex flex-col p-8 md:w-[50%] lg:w-[40%]">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">Billing Details</h2>
            </div>
            <form id="billing-form" class="flex-grow mb-4" action="/E-keyboard/place-order" method="POST">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                    <input type="text" id="name" name="customer_name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="customer_email" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div class="mb-4">
                    <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                    <input type="text" id="address" name="customer_address" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div class="mb-4">
                    <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                    <input type="text" id="city" name="customer_city" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div class="flex justify-between mt-8">
                    <h1 id="sub_total" class="text-[25px] font-bold"></h1>
                    <input class="hidden" name="total_amount" type="text" id="total_amount">
                    <button type="submit" class="bg-black text-white px-4 py-2 rounded">Submit</button>
                </div>
            </form>
        </div>
       

        <!-- Products -->
        <div>
            <div class="cart_items max-h-[400px] overflow-y-auto custom-scrollbar">
                <div class="flex fixed font-bold z-50">
                    <h3 class="px-12">Img</h3>
                    <h3 class="px-12">Name</h3>
                    <h3 class="pl-28">price</h3>
                    <h3 class="px-12">QTY</h3>
                    <h3 class="px-12">Total</h3>
                </div>
                {% for product_cart in product_carts %}
                <div class="  flex-col md:flex md:flex-row md:items-center gap-x-10 px-4 border-b-2 border-gray-200 my-2 cart_item" data-id="{{ product_cart[0] }}" data-price="{{ product_cart[2] }}" data-product-id="{{ product_cart[0] }}">
                    <div class="px-2">
                        <img src="/static/product_image/{{ product_cart[3] }}" alt="{{ product_cart[2] }}" class="w-[150px] h-[150px] rounded md:w-[100px] md:h-[100px] md:mt-10">
                    </div>
                    <div class="px-2">
                        <h3>{{ product_cart[1] }}</h3>
                    </div>
                    <div class="py-2 px-4">
                        <h3 class="product-price">{{ product_cart[2] }}</h3>
                    </div>
                    <div class="flex justify-between my-2 md:flex md:flex-col">
                      
                        <h3 class="item-total">{{ product_cart[4] }}</h3>
                    </div>
                    <div class="flex justify-between my-2 md:flex md:flex-col pl-20">
                      
                        <h3 class="item_total">{{ product_cart[2] * product_cart[4] }}  </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
      <script>

        let porduct_item = document.querySelectorAll(".item_total")
        let sub_total = document.querySelector("#sub_total")
        let total_amount = 0;
        porduct_item.forEach((item) => {
            total_amount += (parseFloat(item.textContent))
        })
        sub_total.innerHTML = `<h2>Sub total: $${total_amount}`
      </script>
    
    
</body>
</html>
